<div class="global">
    <app-toolbar></app-toolbar>
    <div *ngIf="isUserLoggedIn(); then userLoggedIn">

    </div>

    <ng-template #userLoggedIn>
        <div class="main">
            <div class="menu">
                <div class="menuItems">
                    <p>Menu</p>
                    <button pButton type="button" label="Poids" style="width:95%" (click)="poidsClick()"></button>
                    <button pButton type="button" label="Repas" style="width:95%"></button>
                </div>
            </div>
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </ng-template>
</div>