<p-toolbar>
    <div class="p-toolbar-group-left">
        <div *ngIf="isUserLoggedIn(); then userLoggedInLeft"></div>
        <ng-template #userNotLoggedInLeft>

        </ng-template>
        <ng-template #userLoggedInLeft>
            <button pButton [label]="userName()" (click)="logIn()"></button>
        </ng-template>
    </div>
    <div class="p-toolbar-group-right">
        <div *ngIf="isUserLoggedIn(); then userLoggedInRight; else userNotLoggedInRight">

        </div>
        <ng-template #userNotLoggedInRight>
            <button pButton label="Login" (click)="logIn()" class="p-button-success"></button>
            <button pButton label="Register" class="p-button-success"></button>
        </ng-template>
        <ng-template #userLoggedInRight>
            <button pButton label="Logout" (click)="signOut()" class="p-button-success"></button>
        </ng-template>

    </div>
</p-toolbar>